.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  margin-left: 20px;
  height: 25vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: flex-start;
}

.My-Github {
  color: #61dafb;
  margin-left: 20px;
}

#stylishTile-img{
  display: block;
  max-width: 40%;
  height: auto;
}

#regular-img{
  display: block;
  max-width: 50%;
  height: auto;
}

#shopping-lg-img{
  display: block;
  max-width: 60%;
  height: auto;
}

#frcLogo-img{
  display: block;
  max-width: 50%;
  height: auto;
}

#mcdonalds-img{
  display: block;
  max-width: 40%;
  height: auto;
}

body{
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: flex-start;
}




.footer{
    height: 60px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    
}